# Subtitle Options
# --sub-lang en,EN,eng,ENG,en-us,en-US,EN-US,English,en_US
--all-subs
# --sub-lang en.*,EN.*
# --compat-options no-live-chat

# General
--throttled-rate 100K

# Audio
--audio-multistreams

# Subtitle Post Processing
--convert-subs srt
--embed-subs


# Post Processing Options
--embed-chapters
--embed-metadata
# --postprocessor-args "-metadata:s:a:0 language=jpn"


# External Downloader Options
# --external-downloader=aria2c
--downloader aria2c --downloader "dash,m3u8:native"
# --external-downloader-args '--min-split-size=1M --max-connection-per-server=16 --max-concurrent-downloads=16 --split=16'
--external-downloader-args '-c -j 16 -s 16 -x 16 -k 5M --file-allocation=none'

--format-sort res,fps,codec:vp9.2,codec:vp9,codec:h265,codec:h264

# # Video Format Options
# -f "(bestvideo[vcodec=vp9.2][height>=1080][fps>30]/bestvideo[vcodec=vp9][height>=1080][fps>30]/bestvideo[vcodec=vp9.2][height>=1080]/bestvideo[vcodec=vp9][height>=1080]/bestvideo[height>=1080]/bestvideo[vcodec=vp9.2][height>=720][fps>30]/bestvideo[vcodec=vp9][height>=720][fps>30]/bestvideo[vcodec=vp9.2][height>=720]/bestvideo[vcodec=vp9][height>=720]/bestvideo[height>=720]/bestvideo)+(bestaudio[acodec=opus]/bestaudio)/best"
-f "bv+(251/mergeall[format_id~=251-]/140/mergeall[format_id~=140-])/b"
# -f 140 --audio-quality 0


-t mkv
# --batch-file FILE

# File Saving Options
# -o ~/downloads/%(title)s.%(ext)s
# -o '~/downloads/%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s'
# -o '~/downloads/%(playlist)s/%(upload_date>%Y-%m-%d)s-%(title)s.%(ext)s'
-o '~/downloads/%(playlist)s/%(title)s.%(ext)s'
# -o '~/downloads/%(playlist)s/%(upload_date)s - %(title)s.%(ext)s'
# -o '~/downloads/%(upload_date)s - %(title)s.%(ext)s'