networks:
  net:
    driver: 'bridge'

services:
  # Nginx Proxy Manager
  npm:
    image: "jc21/nginx-proxy-manager:latest"
    restart: unless-stopped
    container_name: npm

    ports:
      # These ports are in format <host-port>:<container-port>
      - 30021:80 # Public HTTP Port
      - 30022:443 # Public HTTPS Port
      - 30020:81 # Admin Web Port
      # Add any other Stream port you want to expose
      # - '21:21' # FTP
    networks:
      net:
        aliases:
          - 'auth.ianto.org'
    environment:
      - TZ=America/New_York
      - DISABLE_IPV6=true
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
      - DOCKER_MODS=linuxserver/mods:nginx-proxy-confs
      # Uncomment this if you want to change the location of
      # the SQLite DB file within the container
      # DB_SQLITE_FILE: "/data/database.sqlite"

      # Uncomment this if IPv6 is not enabled on your host

    volumes:
      - /${APPS_PATH}/nginx/data:/data
      - /${APPS_PATH}/nginx/letsencrypt:/etc/letsencrypt
      - /${APPS_PATH}/nginx/snippets:/snippets